/* container */
.el-header {
    padding: 0px !important;
}
.el-menu-item {
    margin-top: 4px;
    height: 40px;
    line-height: 40px;
    padding: 10px !important;
    border-radius: 6px;
    width: 160px
}
.el-menu-item:last-child {
    border-bottom: 0px;
}
.el-aside {
    padding: 16px;
    width: fit-content !important;
    border-right: 1px solid #d1d5db;
    height: calc(100vh - 60px);
}
.el-menu {
    border-right: 0px !important;
}
.el-menu-item.is-active {
    background: #ecf5ff;
}
.el-main {
    padding: 32px 48px !important;
    background: #f6f8fc;
}

/* tabs */
.el-tabs--border-card {
    border-radius: 6px;
    border: 1px solid #d1d5db !important;
}
.el-tabs__header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
.el-tabs--border-card>.el-tabs__header {
    background: #ffffff !important;
    border-bottom: 1px solid #d1d5db !important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    background: #ecf5ff !important;
}

/* dialog */
.el-dialog {
    border-radius: 6px;
}
.el-dialog__header {
    padding: 16px 24px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background: #f6f8fc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.el-dialog__headerbtn {
    width: 24px;
    height: 24px;
    position: relative;
    top:0px
}
.el-dialog__headerbtn .el-dialog__close {
    font-size: 24px;
}
.el-dialog__footer {
    padding: 12px 24px;
    background: #f6f8fc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.el-dialog__body {
    padding: 24px
}
.el-form-item {
    margin-bottom: 24px;
}
.el-form-item:last-child {
    margin-bottom: 0px;
}
.el-popover.el-popper {
    font-size: 12px !important;
    padding: 6px 12px !important;
}