@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    width: 6px;
    height: 6px;
    background-color: rgba(29, 36, 47, 0.16);
    box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.5);
    background-clip: content-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(29, 36, 47, 0.45);
}

:focus-visible {
    outline: 0;
}
.icon-button {
    @apply p-0.5 rounded-md hover:bg-gray-200 !w-6 !h-6 hover:!text-blue-500
}

.help-title {
    @apply font-medium text-lg
}
.help-answer {
    @apply text-gray-600 grid gap-6 mt-8 pb-6
}
.help-answer div {
    @apply flex items-start
}
.help-answer img {
    @apply w-4/5 m-auto
}
.help-answer .help-answer-index {
    @apply  w-6 h-6 p-1 rounded-3xl bg-gray-200 flex items-center justify-center mr-2
}