@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0
}

#app {
    margin: 24px 36px;
}

/* 自动移滚动条样式*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*滑块部分*/
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

/*辊道部分*/
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}

.icon-button {
    @apply p-0.5 rounded-md hover:bg-gray-200 !w-6 !h-6 hover:!text-blue-500
}